<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="widht=decive-widht, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Portafolio Juan Romero</title>
</head>
<body>
   <!-- Header -->
  <section id="header"> 
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>J</span>ua<span>ni</span>to</h1><a href="./"></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>

            <li><a href="#services" data-after="Inicio"><a href="./">Inicio</a></li>
            <li><a href="#services" data-after="Educacion"><a href="./educacion">Educacion</a></li>
            <li><a href="#services" data-after="Educacion"><a href="./conocimientos">Conocimiento</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <div class="conta">
    <div class="skill-box">
        <span class="title">HTML</span>
  
        <div class="skill-bar">
            <span class="skill-per html">
                <span class="tooltip">90%</span>
            </span>
        </div>
    </div>
  
    <div class="skill-box">
        <span class="title">CSS</span>
  
        <div class="skill-bar">
            <span class="skill-per css">
                <span class="tooltip">70%</span>
            </span>
        </div>
    </div>
    <div class="skill-box">
        <span class="title">JavaScript</span>
  
        <div class="skill-bar">
            <span class="skill-per javascript">
                <span class="tooltip">30%</span>
            </span>
        </div>
    </div>
    <div class="skill-box">
        <span class="title">GitHub</span>
  
        <div class="skill-bar">
            <span class="skill-per git">
                <span class="tooltip">50%</span>
            </span>
        </div>
    </div>
    <div class="skill-box">
      <span class="title">MySql</span>
  
      <div class="skill-bar">
          <span class="skill-per my">
              <span class="tooltip">70%</span>
          </span>
      </div>
  </div>
  <div class="skill-box">
    <span class="title">Java</span>
  
    <div class="skill-bar">
        <span class="skill-per java">
            <span class="tooltip">60%</span>
        </span>
    </div>
  </div>
  <div class="skill-box">
    <span class="title">Php</span>
  
    <div class="skill-bar">
        <span class="skill-per php">
            <span class="tooltip">50%</span>
        </span>
    </div>
  </div>
  </div>
  <br><br>
  <br><br>
<br><br>
  <div class="contai">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Direccion</div>
          <div class="text-one" style="color: black;">Bogota D.C</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Celular</div>
          <div class="text-one" style="color: black;">3005112754</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-two" style="color: black;">jdromero569@misena.edu.co</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Envia un mensaje</div>
        <p>Con este formulario puedes contactarme :)</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Ingresa tu nombre">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Ingresa tu correo">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Envia Ahora" >
        </div>
      </form>
    </div>
    </div>
  </div>
  <br><br>
  <br><br>
<br><br><!------Contact Me------>
<div class="contact-me">
  <p>“Aprende de la vida y del mundo, pero sobre todo de la gente, porque las personas cambian personas”</p>
  <a class="button-two" href="#">:)</a>
</div>
<!-- Footer -->
<div class="content1">
</div>
<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Redes Sociales</h2>
      <div class="content">
        <p>Mis principales redes sociales</p>
         <div class="social-icon">
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
    </div>
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
    </div>
    <div class="social-item">
      <a href="https://github.com/JuanRomero08"><img src="https://img.icons8.com/color/96/000000/github.png"/></a>
    </div>

        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Contacto</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Bogota D.C</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">3005112754</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">jdromero569@misena.edu.co</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Correo</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email *</div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Mensaje *</div>
            <input type="Message" required>
            <!-- <changeit rows="2" cols="25" required></changeit> -->
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <center>
      <h4 class="credit">Creado Por <span>Juan David Romero </span>© 2022 Todos Los Derechos Reservados</h4>
    </center>
  </div>
</footer>
   <script src="./../static/js/app.js"></script>

</body>
</html> 