<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="widht=decive-widht, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Portafolio Juan Romero</title>
</head>
<body background=".././static/img/fondo.png">
   <!-- Header -->
  <section id="header"> 
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>J</span>ua<span>ni</span>to</h1><a href="./"></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>

            <li><a href="#services" data-after="Inicio"><a href="./">Inicio</a></li>
            <li><a href="#services" data-after="Educacion"><a href="./educacion">Educacion</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

<!--Hero Section-->
<section id="hero">

<div class="hero container">
<div>
<h1>Juan David Romero <span></span></h1>
<h1>Mi historia <span></span></h1>

<a href="#" type="button" class="cta">Entrar</a>	
</div>
</div>
</section>
<!--End Hero Section-->

<!--Service Section-->

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<section class="about">
  <div class="main">
    <img src=".././static/img/fondo2.png">
    <div class="about-text">
      <h2>Logros Obtendidos</h2>
      <h5>Colegio Alfonso Lo<span style="color:#F08080">pez Michelsen</span></h5>
      <p>Titulo Primaria</p>
      <br><br>
      <h5>Colegio Francisco Ja<span style="color:#F08080">vier Matiz</span></h5>
      <p>Bachiller Académico</p>
      <br><br>
      <h5>Se<span style="color:#F08080">na</span></h5>
      <p>- Tecnico En Programacion De Software</p>
      <p> -Analisis Y Desarrollo De Sistemas De Informacion (En Proceso)</p>
    </div>
  </div>
</section>
<br><br>
<br><br>
<br><br>
<!-----service section start----------->
<div class="service">
  <div class="title">
    <h2>Instituciones</h2>
  </div>

  <div class="boxs">
    <div class="cards">
      <i class="fa fa-graduation-cap"></i>
      <h5>Colegio Alfonso Lopez Michelsen</h5>
      <div class="pra">
        <p>En esta institucion educativa estuve desde el 2009 hasta el 2018 estudiando, curse desde grado 0 hasta grado 8, en donde puse conseguir mi titulo de educacion primaria, siendo muy aplicado y ocupando los mejores puestos en todos los años</p>

        <p style="text-align: center;">
          <a class="button" href="#">Leer Mas</a>
        </p>
      </div>
    </div>

    <div class="cards">
      <i class="fa fa-user-circle"></i>
      <h5>Colegio Francisco Javier Matiz</h5>
      <div class="pra">
        <p>En esta institucion educativa estudie desde el año 2019 hasta año 2021, curse desde grado 9 hasta grado 11, en donde logre obtener mi titulo de bachillerato, haciendo distintas actividades para lograr este objetivo, como proyecto de vida, servicio social, tecnico en programacion de software de parte del sena, en donde logre tener aprendizaje sobre distintos lenguajes de programacion y base de datos, fortaleciendo asi mi conocimiento y aprendizaje sobre esta area, ademas de ser aplicado en todas las materias. Gracias a esto consegui graduarme como el mejor de mi clase, teniendo menciones de honor, como mejor proyecto de vida y mejor proyecto sena, ademas de medallas por excelencia academica.</p>

        <p style="text-align: center;">
          <a class="button" href="#">Leer Mas</a>
        </p>
      </div>
    </div>

    <div class="cards">
      <i class="fa fa-desktop"></i>
      <h5>Sena</h5>
      <div class="pra">
        <p>En esta institucion estoy en el proceso por conseguir mi tecnologo en analisis y desarrollo de sistemas de informacion, en el cual me encuentro en el ultimo trimestre, en el cual culminara la etapa lectiva, para comenzar con una etapa productiva en donde comenzare a ejercer mi profesion como empleado de una empresa, ejerciendo labores desde la parte de base de datos. En el proceso y el pasar de los trimestres he logrado mejorar mis conocimientos y habilidades sobre los dinstintos temas relacionados con esta carrera. Principalmente junto a mi grupo, estamos desarrollando un sistema de informacion, el cual es parte de fundamental del tecnologo, en donde debemos mostrar un sistema funcional y completo, el cual en el proceso de desarrollo de este, me ha ayudado aprender de forma autonoma los distintos aspectos para poder hacer un sistema de informacion de manera correcta, dando como resultado una mejora notoria en mis destrezas y habilidades frente a las distintas areas que se desempeñan en esta carrera.</p>

        <p style="text-align: center;">
          <a class="button" href="#">Leer Mas</a>
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br><!------Contact Me------>
<div class="contact-me">
  <p>“Aprende de la vida y del mundo, pero sobre todo de la gente, porque las personas cambian personas”</p>
  <a class="button-two" href="#">:)</a>
</div>
<!-- Footer -->
<div class="content1">
</div>
<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Redes Sociales</h2>
      <div class="content">
        <p>Mis principales redes sociales</p>
         <div class="social-icon">
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
    </div>
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
    </div>

        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Contacto</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Bogota D.C</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">3005112754</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">jdromero569@misena.edu.co</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Correo</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email *</div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Mensaje *</div>
            <input type="Message" required>
            <!-- <changeit rows="2" cols="25" required></changeit> -->
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <center>
      <h4 class="credit">Creado Por <span>Juan David Romero </span>© 2022 Todos Los Derechos Reservados</h4>
    </center>
  </div>
</footer>
   <script src="./../static/js/app.js"></script>

</body>
</html>   