<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="widht=decive-widht, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Portafolio Juan Romero</title>
</head>
<body background=".././static/img/fondo.png">
   <!-- Header -->
  <section id="header"> 
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero"><h1><span>J</span>ua<span>ni</span>to</h1><a href="./"></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>

            <li><a href="#services" data-after="Inicio"><a href="./">Inicio</a></li>
            <li><a href="#services" data-after="Educacion"><a href="./educacion">Educacion</a></li>
            <li><a href="#services" data-after="Educacion"><a href="./conocimientos">Conocimiento</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

<!--Hero Section-->
<section id="hero">

<div class="hero container">
<div>
<h1>Juan David Romero <span></span></h1>
<h1>Mi historia <span></span></h1>

<a href="#" type="button" class="cta">Entrar</a>	
</div>
</div>
</section>
<!--End Hero Section-->

<!--Service Section-->

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<main>
<section class="contenedor sobre-nosotros">
  <h1 class="section-title">Datos<span> Importantes</span></h1>
  <br>
  <div class="contenedor-sobre-nosotros">
    <img src=".././static/img/img2.png" alt="" class="imagen-about-us">
    <div class="contenido-textos">
    <BR>
     <h3><span>1 </span> QUIEN SOY</h3> 
     <p>Actualmente soy un joven que disfruta las cosas que hace, que es apasionado, alguien que siempre intenta encontrarle el lado positivo a todo, que se esfuerza por hacer lo mejor en todo lo que hace, alguien que cada día quiere mejorar como persona, que aprende de sus errores. Tengo valores y principios que me permiten poder compartir de buena forma con las personas que me rodean. Soy honesto y defiendo firmemente mis ideas y creencias. Me gusta aprender de la vida, de las experiencias de las demás personas, la forma como los demás se expresan piensan y hablan de todo ello aprendo cada día. Soy soñador, pero siempre intento apegarme a la realidad, siempre intento ayudar a cualquiera que me necesite, amo a mi familia y a mis amigos, soy alguien que no importa que obstáculo le pongas, Intento dar lo mejor de mi para encontrar la solución para poder superar cualquier adversidad. Pero lo más importante creo en mí mismo y en lo que puedo llegar a ser.</p>
     <br>
     <h3><span>2 </span> PROGRAMACION</h3> 
     <p>La programación y todo lo relacionado con ella, se ha vuelto gran parte de mi vida, me ha permitido comprender en lo que me puedo especializar, en lo que soy mejor o más bueno, la programación tiene muchas ramas y temas, pero principalmente el diseño es mi mayor fortaleza, el front-end es algo que me apasiona. La programación no solo es lo que quiero estudiar y en lo que llegar a ser un gran profesional,  sino que se ha vuelto algo en lo que quiero convertir mi vida, algo en lo que quiero adquirir más aprendizajes y conocimientos frente a ello, claro, es complicado y difícil a veces, pero no hay nada mejor que aprender sobre algo que te gusta, que amas, y que disfrutas hacer.
     </p>
     <br>
     <h3><span>3 </span> MUSICA</h3> 
     <p>Una de mis mayores pasiones es la música, desde hace muchos años, que comencé a tomar un gran aprecio por este mundo, he aprendido a tocar varios instrumentos, y aunque no soy un profesional, por mi propia cuenta he logrado aprender distintos aspectos que me han ayudado a ser mejor en la música, desde muy pequeño escribo mis propias canciones, que al pasar de ellos años han mejorado notablemente, pasaron de ser muy básicas a tener un aspecto muy poético. La música es que de las cosas que me hacen sentir mejor, cuando estoy triste o no me siento bien, tocar el piano y cantar una canción me hace sentir paz en mi alma.
     </p>
    </div>
  </div>
  <BR>
    <BR>
    


</section></main>	
<section class="portafolio">
  <div class="contenedor">
   
    <BR>
    <BR>
    <div class="galeria-port">
      <div class="imagen-port">

        <img src=".././static/img/mision.png" alt="">
        <div class="hover-galeria">
          <h2><p style="font-size: 30px;">MISION</p></h2>
          <p style="font-size: 13px;  text-align: justify;padding: 5px; ">Seré un profesional en la ingeniería de sistemas, compartiendo todos mis conocimientos y experiencias con mucha más gente, siempre con humildad y sabiduría, siendo un gran ejemplo para mi familia, amigos y la sociedad, aprendiendo de la vida, creciendo como persona y aplicando todos mis valores y principios, defendiendo en todo lo que creo con seguridad y respetando las creencias e ideologías de la gente. Ser reconocido por todos mis logros y acciones principalmente en mi carrerea profesional como ingeniero de sistemas, siendo siempre una persona dedicada, gentil y capaz de superar cualquier adversidad que intervenga para alcanzar mis objetivos.</p>
        </div>
      </div>
      <div class="imagen-port">
        <img src=".././static/img/vision.png" alt="">
        <div class="hover-galeria">
          <h2><p style="font-size: 30px;">VISION</p></h2>
          <p style="font-size: 13px;  text-align: justify;padding: 5px; ">Soy una persona única y humilde, una persona que valora y ama a su familia y amigos, que comparte, escucha y ayuda a las personas que lo rodean y a su vez aprende de cada uno de ellos, comprometiéndose a dar lo mejor de sí mismo para alcanzar sus sueños, pero siempre siendo fiel a sus valores y principios, mejorando y aprendiendo de sus errores, y mi propósito en la vida es ayudar a través de mi conocimiento a personas que no han podido cumplir sus metas, ser un hombre de bien para la sociedad y ser admirado por demostrarle a la gente que todo se puede lograr si te esfuerzas y crees en ti mismo pero sobre todo si estas al lado de la gente que amas.</p>
        </div>
      </div>
      
      </div>
    </div>
  </div>
</section>
</section>
<br><br>
<br><br>
<br><br>

<!--client-->
  <section id="client">
  
  <div class="client-heading">
  <h1 class="section-title">OBJETIVOS<span> ESPECIFICOS</span></h1>
  </div>
  
  <div class="c-box-container">
 
  <div class="client-box">
    <!--img-------->
    <img src=".././static/img/o1.png"/>

  <br>
  <h2>RECONOCER</h2>
  <br>
    <p>- Reconocer mis habilidades, aptitudes y fortalezas, esto dando razón a que quiero llegar a ser y que quiero mejorar como persona.</p>
   
    <a href="#">Leer mas</a>
  </div>
   
  <div class="client-box">
 
    <img src=".././static/img/o2.jpeg"/>
    
     <br>
    <H2>RECOPILAR</H2>
    <br> 
    <p>- Recopilar las experiencias más importantes qué he tenido las cuales dieron pie a lo que soy y lo que fui. </p>
   
    <a href="#">Leer mas</a>
  </div>
  
  <div class="client-box">
 
    <img src=".././static/img/o3.jpg"/>
   
   <br>
   <h2>PROYECTAR</h2>
   <br>
    <p>- Proyectar mis conocimientos adquiridos con el fin de hacer uso de ellos en mi proyecto de vida.</p>
    
    <a href="#">Leer mas</a>
  </div>
  </div>
  </section>
  <br><br>
<br><br>
<br><br>
<br><br>

  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>OBJETIVO GENERAL</h1>
            <p>- Reconocer mis habilidades, aptitudes y fortalezas, esto dando razón a que quiero llegar a ser y que quiero mejorar como persona.</p>
          </div>
          <div class="project-img">
            <img src=".././static/img/o4.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>PERFIL PROFESIONAL</h1>
            <p>En el desarrollo de mi vida profesional, me he caracterizado por ser una persona responsable, creativa, con iniciativa y puntualidad, asumo con agrado los retos y metas propuestas, con buen manejo de relaciones interpersonales, facilidad para trabajar en equipo, así como para resolver problemas eficientemente soy comprometido con las actividades, tengo capacidad analítica para establecer criterios y prioridades para el área designada. Apoyo, diseño, desarrollo de planes, visión y soporte a estrategias de los temas relacionados con el área.</p>
          </div>
          <div class="project-img">
            <img src=".././static/img/p1.jpg" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>CONOCIMIENTOS</h1>
            <p>- Java  ★ ★ ★ </p>
            <p>- Php  ★ ★ ★</p>
            <p>- Html  ★ ★ ★ ★</p>
            <p>- Css  ★ ★ ★ ★</p>
            <p>- MySql  ★ ★ ★</p>
            <p>- JavaScript  ★ ★ </p>
          </div>
          <div class="project-img">
            <img style="width: 720px;" src=".././static/img/l1.jpg" alt="img">
          </div>
        </div>

      </div>
    </div>
  </section>

<br><br>
<br><br>
<br><br>
<br><br>
<!-- Footer -->
<div class="content1">
</div>
<footer>
  <div class="main-content">
    <div class="left box">
      <h2>Redes </h2>
      <div class="content">
        <p>Mis principales redes </p>
         <div class="social-icon">
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png"/></a>
    </div>
    <div class="social-item">
      <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png"/></a>
    </div>
    <div class="social-item">
      <a href="https://github.com/JuanRomero08"><img src="https://img.icons8.com/color/96/000000/github.png"/></a>
    </div>

        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Contacto</h2>
      <div class="content">
        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Bogota D.C</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text">3005112754</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">jdromero569@misena.edu.co</span>
        </div>
      </div>
    </div>

    <div class="right box">
      <h2>Correo</h2>
      <div class="content">
        <form action="#">
          <div class="email">
            <div class="text">Email *</div>
            <input type="email" required>
          </div>
          <div class="msg">
            <div class="text">Mensaje *</div>
            <input type="Message" required>
            <!-- <changeit rows="2" cols="25" required></changeit> -->
          </div>
          <div class="btn">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bottom">
    <center>
      <h4 class="credit">Creado Por <span>Juan David Romero </span>© 2022 Todos Los Derechos Reservados</h4>
    </center>
  </div>
</footer>
<!-- End Footer -->
<script src="./../static/js/app.js"></script>


</body>
</html>
