@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
body{
	background-repeat: no-repeat;
	position: relative;
	background-size: 100% 22.1%;		
}
html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: .05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
.section-title span {
	color: #00ced1;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #00ced1;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #00ced1;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: #00ced1;
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #151515;
	transition: .3s ease background-color;
}

#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #151515;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 15px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;
	-webkit-transition:all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease; 
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}

#header .nav-list ul li:hover a {
	color: #00ced1;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: .3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}

/* Hero Section */
#hero {
	position: relative;
	z-index: 1;
}

#hero::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4.5rem;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1){
	animation-delay: 1s;
}
#hero h1:nth-child(2){
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 2s;
}
#hero h1:nth-child(3){
	animation: text_reveal_name 1.5s ease forwards;
	animation-delay: 3s;
}

#hero h1 span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: #00ced1;
	animation: text_reveal_box 1s ease;
	animation-delay: 1s;
}
#hero h1:nth-child(1) span{
	animation-delay: .5s;
}
#hero h1:nth-child(2) span{
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
	animation-delay: 2.5s;
}


#hero .cta{
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid #00ced1;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
#hero .cta:hover{
	color: white;
	background-color: #00ced1;
}



/* End Hero Section */

div.pie a{
    text-align: center;
    text-shadow: 2px 2px 5px #00ced1;
    padding: 10px;
}
div.pie  H2 {
    text-align: center;
    text-shadow: 2px 2px 5px #00ced1;
    padding: 10px;
}
.pie p{
	color:black;
	font-size: 1rem;
	margin:0px;
	text-align: center;
	
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
	background-color:#00ced1;
}
div.galeria{
    margin: 10px 20px;
    padding: 15px 0px;
    box-shadow:  0 4px 8px 0 #00ced1, 0 6px 20px 0 rgba(0,0,0,0.19);

    position: relative;
    left: 480px;
    width: 400px;
    border-radius: 30px;
}

div.galeria img{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

div.galeria:hover{
    border: 1px solid #00ced1;
    transform: rotate(-3deg);
}
.pie a{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
    position: relative;
    left: 120px;
	background-color: #00ced1;
	border-radius: 20px;
	
}
.pie a{
	width:140px;
	margin-top: 20px;
	border-radius: 0px;
}
.pie:hover{
	transform: translateY(-10px);
	box-shadow: 5px 10px 30px #00ced1;
    background-color: #FFFFFF;
	transition: all ease 0.2s;
    border-radius: 20px;
}

/* End Header section */

/* Footer */
footer{
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #151515;
}
.content1{
  position: absolute;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #ffffff;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #ffffff;
}
footer {
  margin: 0;
  padding: 0;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1px;

}

footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}

footer .social-item img {
	filter: grayscale(1);
	transition: .3s ease filter;
}
footer .social-item:hover img {
	filter: grayscale(0);
}

footer p{
color: #ffffff;	
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 22.5px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #00ced1;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #00ced1;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #ffffff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #00ced1;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #00ced1;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #008B8B;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #008B8B;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #151515;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #00ced1;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #008B8B;
}
.bottom center{
  font-size: 1.8rem;
  background: #ffffff;
}
.bottom center span{
  color: #00ced1;
  text-decoration: none;
  padding: 0% ;
}
.bottom center h4{
  color: #151515;
  text-decoration: none;
  padding: 0% ;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}


/* End Footer */

/* ketframes */
@keyframes hamburger_puls {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box{
	50%{
		width: 100%;
		left: 0;
	}
	100%{
		width: 0;
		left: 100%;
	}
}	
@keyframes text_reveal{
	100%{
		color: white;
	}
}	
@keyframes text_reveal_name{
	100%{
		color: #00ced1;
		font-weight: 500;
	}
}	
/* End keyframes */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

}	
/* End  Media Query For Desktop */

